<main class="container">
    <div class="container bg">
        <div>
            <p>
                <em>Welcome</em> to Connor's webstore demo.<br><br>
                <b>this is a test site for demonstration purposes only.</b>
                <i><b>WARNING:</b> do not use the checkout system with actual payment information. We are not affiliated
                    with any of the example product's respective companies, nor do we sell anything on this website.</i>
            </p>
            <br>
            <blockquote>You should never believe quotes you read on the internet. -- <b>Abraham Lincoln</b></blockquote>
        </div>
        <br>
        <div>
            <h3>About Me</h3>
            <p>Hello, my name is <em>Connor Postma</em>! I am a self-taught programmer, and software engineer student. I
                love technical challenges, and creative tasks.</p>
        </div>

        <div>
            <h4>Programming Languages</h4>
            <p>
                I am a self taught computer programmer. Started when I was a kid around 2010 or so, since then I have
                become a fairly confident programmer in several languages. Here are some of the languages I have learned
                over the years:
            </p>
            <ul class="indent">
                <li>HTML, CSS, and JavaScript of course</li>
                <li>Python (one of my first)</li>
                <li>C (for WIndows Driver and microcontroller programming)</li>
                <li>C++</li>
                <li>rustlang</li>
                <li>golang</li>
                <li>C#</li>
                <li>Java</li>
                <li>GLSL (shader language)</li>
                <li>basic</li>
                <li>PHP</li>
                <li>Visual Basic back when that was a thing</li>
                <li>Delphi Pascal</li>
                <li>Godot Script for the Godot game engine</li>
            </ul>
        </div>

        <p>Check out some of my other creations at <a href="https://segfault.site" target="_blank"
                rel="noopener noreferrer">my website</a> or on my <a href="https://github.com/ConnorBP/angular_shop"
                target="_blank" rel="noopener noreferrer">Github</a>.</p>
        <p>The full source code for this project is also available on my <a
                href="https://github.com/ConnorBP/angular_shop" target="_blank" rel="noopener noreferrer">Github</a>.
        </p>


    </div>

</main>