<nav>
    <ul class="navbar">
        <li>
            <a routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}">Shop Home</a>
        </li>
        <li>
            <a routerLinkActive="active" [routerLink]="['/about']">About</a>
        </li>
        <li class="right">
            <a routerLinkActive="active" [routerLink]="['/cart']">Cart ({{shoppingCartService.cartItemCount}})</a>
        </li>
        <li class="right">
            <a routerLinkActive="active" [routerLink]="['/login']">Login</a>
        </li>
    </ul>
</nav>