<nav>
    <ul class="navbar">
        <li>
            <a routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}">Shop Home</a>
        </li>
        <li>
            <a routerLinkActive="active" [routerLink]="['/about']">About</a>
        </li>
        <li class="right">
            <a routerLinkActive="active" [routerLink]="['/cart']">Cart<ng-template [ngIf]="shoppingCartService.cartItemCount > 0">({{shoppingCartService.cartPriceFormatted}})</ng-template> <mat-icon [matBadge]="shoppingCartService.cartItemCount" matBadgeColor="accent">shopping_cart</mat-icon></a>
        </li>
        <li class="right">
            <a routerLinkActive="active" [routerLink]="['/login']">Login <mat-icon matBadgeColor="accent">login</mat-icon></a>
        </li>
    </ul>
</nav>