<mat-card class="cart-item-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ cartItemInformation.product.name }}</mat-card-title>
        <mat-card-subtitle>Product Id: {{ cartItemInformation.product.id }} Item Price: {{ formattedUnitPrice }}</mat-card-subtitle>    
      </mat-card-title-group>
    </mat-card-header>
    <div class="flayout">
        <div class="thumbnailbox">
            <img mat-card-sm-image [src]="cartItemInformation.product.image_path" >
        </div>
        <div>
            <mat-card-content>
                {{cartItemInformation.product.description}}
              </mat-card-content>
        </div>
    </div>
    
    
    <mat-card-actions class="flayout">
        <mat-form-field [style.width.pt]=64>
            <input type="number" min="1" step="1" [value]="cartItemInformation.quantity" matInput (change)="updateQuantity($event)">
        </mat-form-field>
        <div>
            <p><b>Total: </b> {{ formattedTotalPrice }}</p>
        </div>
        <button mat-raised-button (click)="removeFromCart()"><mat-icon>remove_shopping_cart</mat-icon> Remove</button>
    </mat-card-actions>
</mat-card>