<h2>Cart</h2>
<div id="cart" class="grid-container-4 grid-spaced">
    <div class="grid-container-3 grid-spaced">
        <div class="grid-item">
            <p>
                {{ shoppingCartService.cartItems | json }}
            </p>
        </div>
        <div class="grid-item">{{shoppingCartService.cartItemCount}} Items</div>
        <div class="grid-item bg">Price: </div>
        <div class="grid-item"><button (click)="shoppingCartService.clear()">Clear Cart</button></div>
        <div class="grid-item bg">Checkout</div>
    </div>
    
</div>